body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    flex: 1;
}

footer {
    background-color: #e4e4da;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.custom-input {
    border: 2px solid #007bff;
    border-radius: 5px;
}

.custom-input:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
